extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Jerry Louis 

        //- Feel free to personalize the title below
        p Your Trusted Full Stack Software Developer


        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p Hello! I'm Jerry Louis. I am an ambitious software engineer who will bring precision and passion to your team. I bring creativity to everything I do -- from styling my projects with responsive, user-friendly CSS to solving algorithm and data structure challenges. I've created full-stack applications using Node to retrieve complex APIs to build user-friendly applications. My experience with building applications has increased my proficiency with programming and given me an endless appetite for learning.


      .skills-contact-box.box
        h6 Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        //- Replace with your own contact info - feel free to use fake information if you prefer
        ul
          li 857-243-3364
          li imjerrylouis@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='https://www.linkedin.com/in/jerrylouis-/') LinkedIn
        a.btn-link(href='https://github.com/JerryLouisDev') GitHub
        a.btn-link(href='https://twitter.com/JerryLouisDev') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back